################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/War/.vs/War/v15/ipch/5b39774c966a80dc.ipch
/War/.vs/War/v15
/War/War/x64/Debug/War.tlog
/War/War/x64/Debug
/Snake/.vs/Snake/v15
/Snake/Snake/Debug/Snake.tlog
