################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/War/.vs/War/v15/ipch/5b39774c966a80dc.ipch
/War/.vs/War/v15
/War/War/x64/Debug/War.tlog
/War/War/x64/Debug
/Snake/.vs/Snake/v15
/Snake/Snake/Debug/Snake.tlog
/War/War/War.vcxproj
/War/War/War.vcxproj.filters
/War/War/War.vcxproj.user
/War/War/War.vcxproj.targetver.h


/War Union Jokers/War Union Jokers/.vs/War Union Jokers/v15/Browse.VC.db
/War Union Jokers/War Union Jokers/.vs/War Union Jokers/v15/ipch
/War Union Jokers/War Union Jokers/.vs/War Union Jokers/v15
/War Union Jokers/War Union Jokers/War Union Jokers/Debug/War Union Jokers.tlog
/War Union Jokers/War Union Jokers/War Union Jokers/Debug/vc141.idb
/War Union Jokers/War Union Jokers/War Union Jokers/targetver.h
/War Union Jokers/War Union Jokers/War Union Jokers/stdafx.h
/War Union Jokers/War Union Jokers/War Union Jokers/stdafx.cpp
/War Union Jokers/War Union Jokers/War Union Jokers/War Union Jokers.vcxproj.filters
/War Union Jokers/War Union Jokers/War Union Jokers/War Union Jokers.vcxproj
/Snake/.vs
/Snake/Snake/.vs/Snake/v15
/Snake/Snake/.vs
/War Union Inheritance/.vs/War Union Inheritance/v15/ipch
/War Union Inheritance/.vs/War Union Inheritance/v15
/Reddit JSON/.vs/Reddit JSON/v15
